<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-asesor-heading">Create or edit a Asesor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!asesor.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="asesor.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="asesor.nombre" required maxlength="50" pattern="[A-Z]+"/>
                    <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nombre?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nombre?.errors?.maxlength">
                        This field cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.nombre?.errors?.pattern">
                            This field should follow pattern for "Nombre".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_especialidad">Especialidad</label>
                    <input type="text" class="form-control" name="especialidad" id="field_especialidad"
                        [(ngModel)]="asesor.especialidad" required maxlength="50" pattern="[A-Z]+"/>
                    <div [hidden]="!(editForm.controls.especialidad?.dirty && editForm.controls.especialidad?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.especialidad?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.especialidad?.errors?.maxlength">
                        This field cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.especialidad?.errors?.pattern">
                            This field should follow pattern for "Especialidad".
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
