<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="consumo">
            <h2><span>Consumo</span> {{consumo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Fecha</span></dt>
                <dd>
                    <span>{{consumo.fecha}}</span>
                </dd>
                <dt><span>Descripcion</span></dt>
                <dd>
                    <span>{{consumo.descripcion}}</span>
                </dd>
                <dt><span>Monto</span></dt>
                <dd>
                    <span>{{consumo.monto}}</span>
                </dd>
                <dt><span>Cliente</span></dt>
                <dd>
                    <div *ngIf="consumo.cliente">
                        <a [routerLink]="['/cliente', consumo.cliente?.id, 'view']">{{consumo.cliente?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/consumo', consumo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
