<div>
    <h2 id="page-heading">
        <span>Tarjetas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tarjeta" [routerLink]="['/tarjeta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Tarjeta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tarjetas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Numero Tarjeta</span></th>
            <th><span>Ccv</span></th>
            <th><span>Tipo Tarjeta</span></th>
            <th><span>Cliente</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tarjeta of tarjetas ;trackBy: trackId">
                <td><a [routerLink]="['/tarjeta', tarjeta.id, 'view' ]">{{tarjeta.id}}</a></td>
                <td>{{tarjeta.numeroTarjeta}}</td>
                <td>{{tarjeta.ccv}}</td>
                <td>{{tarjeta.tipoTarjeta}}</td>
                <td>
                    <div *ngIf="tarjeta.cliente">
                        <a [routerLink]="['../cliente', tarjeta.cliente?.id, 'view' ]" >{{tarjeta.cliente?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tarjeta', tarjeta.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tarjeta', tarjeta.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tarjeta', { outlets: { popup: tarjeta.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
